<div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div>
            <label>
                First Name:
                <input type="text" formControlName="firstName">
            </label>
        </div>
        <div>
            <label>
                Last Name:
                <input type="text" formControlName="lastName">
            </label>
        </div>
        <div>
            <button type="submit" [disabled]="!profileForm.valid">Submit</button>
        </div>
    </form>
</div>